

.body {
    font-family: 'Work Sans', sans-serif;
    font-family: 'Space Mono', monospace;
}


.container{
    max-width: 1280px;
    margin:0 auto;
}
.flex-container__header {
    display:flex;
    justify-content: space-between;
}
.main__flex-container{
    /* max-width: 1280px; */
    margin: 0 auto;
    max-width: 1050px;
    /* max-height: 544px; */
    gap:30px;
    background-color:#2B2B2B;
    display:flex;
    justify-content: space-between;
    padding: 80px 0 80px 0;
}
@media screen and (max-width: 1100px) {
    .main__flex-container {
        display:flex;
        flex-direction: column;
    }
    .container__main2 {
        display:flex;
        flex-direction: column;
    }
    .flex-container__main2 {
        display:flex;
        flex-direction: column;
    }
}
.header__nav-items {
    display:flex;
    justify-content: space-between; 
    margin: 20px 0px 20px 530px;
    
}
.header__logo {
    margin: 35px 0px 0 50px;
}

.container__header {
    max-width: 1280px;
    margin:0 auto;
    background-color: #2B2B2B;
}

.nft-text {
    font-size:32;
    font-family: Work Sans;
    color:#ffffff;
}
.nav-item {
    padding: 0 20px 0 20px;
    color:#ffffff;
    margin-right: 10px;
}
.marketplace,
.rankings,
.Connect,
.logo
 {
    color:#ffffff;
    font-family: Work Sans;
    font-weight: 600;
    font-size:16px;
    line-height: 22.4px;
    align-items: center;
}
.header,
.main {
    background-color: #2B2B2B;
}
.header__nav {
    margin: 20px 50px 20px 0px;
}
.nav-item-signup {
    width:152px;
    height:60px;
    border: 1px solid black;
    border-radius: 20px;
    padding:0 30px 0 30px;
    gap: 12px;
    font-family: Work Sans;
    font-weight: 600;
    font-size:16px;
    line-height: 22.4px;
    text-align: center;
    background-color: #A259FF;
    margin: -20px 0px 0px 0;
    
}
.su {
    margin: 15px 1px 5px 0;
}
.SignUp {
    color:white;
    font-family: Work Sans;
    font-size:16px;
    line-height: 22.4px;
    
}
.main_infoH1 {
    font-family:Work Sans;
    font-weight:600;
    font-size:67px;
    line-height: 73.7px;
    color:#ffffff;
    margin-bottom: 20px;
}
.main__info {
    font-family:Work Sans;
    font-weight: 400;
    font-size:22px;
    line-height: 35.2px;
    color: #ffffff;
}
.main__get-started {
    width: 224px;
    height: 60px;
    border: 1px solid black;
    border-radius:20px;
    padding:0 50px 0 50px;
    gap:12px;
    background-color: #A259FF;
    position:relative;
    margin: 49px 0 0px 0;
}
.started {
    margin: 15px 0px 0px 30px;
}
.start {
    color:white;
    font-family:Work Sans;
    font-weight: 600;
    font-size:16px;
    line-height: 22.4px;
    text-align: center;
}
.start::after {
        content: url(./img/Screenshot_8.png);
        position:absolute;
        top:23%;
        left:20%;
}
.flex-container__sale {
    display:flex;
    justify-content: space-between;
    padding: 30px 55px 0 0px;
}
.sale {
    font-family:Space Mono;
    font-weight: 700;
    font-size:28px;
    line-height: 39.2px;
    color:#ffffff;
    margin: 30px 65px 0px 0px;
}
.sale2 {
    font-family:Work Sans;
    font-weight: 400;
    font-size:23.99px;
    line-height: 38.38px;
    color:#ffffff;
}
.scape-walking {
    font-family:Work Sans;
    font-weight: 600;
    font-size:22px;
    line-height: 30.8px;
    color:#ffffff;
    padding: 0 0px 10px 0;
}
.artist {
    font-family:Work Sans;
    font-weight: 400;
    font-size:16px;
    line-height: 22.4px;
    color:#ffffff;
    position:relative;
}
.artist::before {
    content: url(./img/animalkid.png);
    margin: -20px 10px 0px 0px;
}
.artist-card {
    
}
.flex-container__right {
    display:flex;
    flex-direction: column;
}
.aboutpicture {
    background-color: #3B3B3B;
    padding: 20px 0px 0 20px;
}
.main2 {
    background-color: #2B2B2B;
}
.main2__info {
    margin-bottom: 60px;
}
.trending {
    font-family: Work Sans;
    font-weight: 600;
    font-size:38px;
    line-height: 45.6px;
    color:#ffffff;
    margin: 0 0 10px 0;
}
.container__main2 {
    max-width: 1050px;
    gap: 30px;
    background-color: #2B2B2B;
    margin: 0 auto;
    padding: 80px 0 80px 0;
}
@media screen and (max-width:769px) {
    .aboutpicture, {
        width:100%;
    }
    .picture {
        width:100%;
    }
}
@media screen and (max-width: 769px) {
    .artist-card {
        max-width:100%;
    }
}
@media screen and (max-width: 1080px) {
    .container__main2 {
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1080px) {
    .aboutpicture {
        width: 100%;
    }
}
@media screen and (max-width: 560px) {
    .header__nav-items {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header__logo {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .nav-item {
        margin-bottom:25px;
    }
}
@media screen and (max-width: 768px) {
    .header__logo {
        margin: 0 25px 0 20px;
    }
}
@media screen and (max-width: 1080px) {
    .flex-container__right {
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 769px) {
    .flex-container__header{
        display:flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 535px) {
    .header__nav-items {
        display:flex;
        flex-direction: column;
        /* justify-content: center;
        align-items: center; */
    }
}
@media screen and (max-width: 510px) {
    .flex-container__sale {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 400px) {
    .main_infoH1 {
        font-size:40px;
    }
}



.checkout {
    font-family: Work Sans;
    font-weight: 400;
    font-size:22px;
    line-height: 35.2px;
    color:#ffffff;
}
.animals,
.magic,
.disco {
    font-family: Work Sans;
    font-weight: 600;
    font-size:22px;
    line-height: 30.8px;
    color:#ffffff;
    margin: 0 0 10px 0;
}
.grid-container1 {
    display:grid;
    grid-template-columns: repeat(6,55px);
    grid-template-rows: repeat(8,60px);
}
.kot {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end:8;
}
.medved {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 4;
}
.number1 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 6;
}
.artist1,
.artist2,
.artist3 {
    font-family:Work Sans;
    font-weight: 400;
    font-size:16px;
    line-height: 22.4px;
    color:#ffffff;

}
.grid-container1 {
    display:grid;
    grid-template-columns: repeat(6,55px);
    grid-template-rows: repeat(8,60px);

}
.grid-container2,
.grid-container3 {
    display:grid;
    grid-template-columns: repeat(6,55px);
    grid-template-rows: repeat(8,60px);
}
.grib-l {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}
.robot-l {
    display:grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}
.grib-r {
    display:grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}
.robot-r {
    display:grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 8;
}
.number2,
.number3 {
    display:grid;
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 8;
}
.flex-container__main2 {
    display:flex;
    justify-content: space-between;
    gap:20px;
}
.artist1::before {
    content: url(./img/mrfox.png);
    margin: 6px 10px 1px 0px;
}
.artist2::before {
    content: url(./img/mushrom.png);
    margin: 6px 10px 1px 0px;
}
.artist3::before {
    content: url(./img/robots.png);
    margin: 6px 10px 1px 0px;
}
@media screen and (max-width: 1250px) {
    .header__nav-items {
        display: flex;
        margin: 0;
    }
}


@media screen and (max-width: 1200px) {
    .container,
    .main__flex-container,
    .flex-container__main2,
    .flex-container__header {
      max-width: 970px;
      padding: 0, 15px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 992px) {
    .container,
    .main__flex-container,
    .flex-container__main2,
    .flex-container__header {
      max-width: 750px;
      padding: 0, 15px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 767px) {
    .container,
    .main__flex-container,
    .flex-container__main2,
    .flex-container__header {
      max-width: none;
      padding: 0, 15px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width 1100px) {
   .main__get-started {
    display: flex;
    justify-content: center;
    align-items: center;
   }
  }



   